<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1{
            color: brown;
            font-family:bold;
            font-size:50px;
            text-align: center;
        }
        body{
            padding:20px;
            margin:50px;
            background-color:aqua;
            font-family:cursive;
            text-align: center;
            font-size:30px;
        }
        a{
            color: black;
        }

    </style>

    <meta charset="UTF-8">
    <title>Admin HomePage</title>
</head>
<body>
        <h1>Easy Kart Admin</h1>
        <a href="/view">Users Record </a><br><br>
        <a href="/viewProd">Products Record</a><br><br>
        <a href="/viewQueries">View Queries</a><br><br>
        <a href="/viewhistory">View Purchase History</a><br><br>
        <a href="/viewdelivery">View Delivery Details</a><br><br>
        <a href="/">Logout</a><br><br>
</body>
</html>