<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Kart</title>
    <style>
        h2{
            color: brown;
            font-family:bold;
            font-size:50px;
            text-align: center;
        }
        body{
            padding:20px;
            margin:50px;
            background-color:pink;
            text-align: center;
            font-size:30px;
        }
        a{
            color: red;
        }
    </style>
</head>
<body>
<center>
    <h2>Qeries Record</h2>
    <table border=5>
        <thead>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Query</th>
        </thead>
        {% for x in rows %}
        <tr>
            <td>{{x["name"]}}</td>
            <td>{{x["phone"]}}</td>
            <td>{{x["mail"]}}</td>
            <td>{{x["message"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>

<a href="/adminhome">Go Back</a>
    </center>
</body>
</html>